<%= form_for(current_user.following_relationships.find_by(following_id: @user.id), html: { method: :delete }) do |f| %>
<div class="actions row">
  <%= f.submit "Unfollow", class:"btn-sm btn-danger" %>
</div>
<% end %>